h1 {
    background-color:LightGray
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    vertical-align:top;
    }

tr:nth-child(even) {
    background-color: #dddddd;
    }

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 55%;
    }

a:hover, a:active {
    background-color: green;
    color: white;
    }

div#frm * {
    display: inline;
    }