<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div align="right">
    <form th:action="@{/}" method="get">
        <input type="submit" value="Back"/>
    </form>
</div>

<h1 th:inline="text">Manage your account</h1>
<h3> Gold: [[${gold}]] </h3>
<p style="color:Tomato;">[[${message}]]</p>

<div>
    <table>
        <tr th:each="b:${bought}">
            <td>
                <ul>
                    <li th:text="'User name: ' + ${b.userName} + '.'">
                    <li th:text="'Game name: ' + ${b.gameName} + '.'">
                    <li th:text="'Date of purchase: ' + ${b.dateOfPurchase} + '.'">
                    <li th:text="'Cost: ' + ${b.cost} + '.'">
                </ul>
            </td>
            <td>
                <div align="center" th:switch="${b.returnable}">
                    <p th:case="true"><a th:href=@{'/refund'(id=${b.userName})}>refund</a></p>
                    <p th:case="false"></p>
                </div>
            </td>
            <td>
                <div align="center">
                    <p><a th:href=@{'/twitch'(userName=${b.userName})}>show</a></p>
                </div>
            </td>
        </tr>
        <table>

</body>
</html>