<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div align="right">
    <form th:action="@{/}" method="get">
        <input type="submit" value="Cancel"/>
    </form>
</div>

<h1 style="background-color:LightGray;">Create your account</h1>

<form th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
    <table>
        <div><label>
            <tr>
                <th align="left" valign="top"> User Name :</th>
                <td><input th:field="*{username}"/>
                    <p style="color:Tomato;"
                       th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p></td>
            </tr>
        </label></div>
        <div><label>
            <tr>
                <th align="left" valign="top">Password:</th>
                <td><input type="password" th:field="*{password}"/>
                    <p style="color:Tomato;"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p></td>
            </tr>
        </label></div>
        <div><label>
            <tr>
                <th align="left" valign="top">Confirm:</th>
                <td><input type="password" th:field="*{passwordConfirm}"/>
                    <p style="color:Tomato;"
                       th:each="error : ${#fields.errors('passwordConfirm')}"
                       th:text="${error}">Validation error</p></td>
            </tr>
        </label></div>
        <div>
            <tr>
                <td colspan='2' align="left"><input type="submit" value="Create"/></td>
            </tr>
        </div>
    </table>
</form>

</body>
</html>