<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitch</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="frm" align="right">
    <div>
        <form th:action="@{/account}" method="get">
            <input type="submit" value="Manage an account"/>
        </form>
    </div>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>

<h1>20 most popular streams on twitch</h1>

<div>
    <table>
        <tr th:each="t:${streams}">
            <td>
                <img th:src="${t.boxArtUrl}">
            </td>
            <td>
                <img th:src="${t.thumbnailUrl}">
            </td>
            <td>
                <ul>
                    <li th:text="'User Name: ' + ${t.userName} + '.'">
                    <li th:text="'Game Name: ' + ${t.gameName} + '.'">
                    <li th:text="'Title: ' + ${t.title} + '.'">
                    <li th:text="'Viewer Count: ' + ${t.viewerCount} + '.'">
                    <li th:text="'Started At: ' + ${t.startedAt} + '.'">
                    <li th:text="'Language: ' + ${t.language} + '.'">
                    <li th:text="'Price: ' + ${t.price} + '.'">
                </ul>
            </td>
            <td>
                <div th:switch="${t.bought}">
                    <p th:case="true"><a th:href=@{'/twitch'(userName=${t.userName})}>show</a></p>
                    <p th:case="false"><a th:href=@{'/twitch'(userName=${t.userName})}>demo</a></p>
                </div>
                <div th:switch="${t.bought}">
                    <p th:case="true"></p>
                    <p th:case="false"><a
                            th:href=@{'/manager'(id=${t.userName},gameName=${t.gameName},price=${t.price})}>buy</a></p>
                </div>
            </td>
        </tr>
        <table/>
</div>

</body>
</html>